$color-font: #000000;
$color-heading: #000000;
$color-form_field: #e4e4e4;
$color-form_button_disabled: #e4e4e4;
$color-warehouse_item_border: #bbbbbb;
$color-warehouse_item_border_focused: #000000;

$font-main: 'Montserrat';

$screen-lg: 1600px;
$screen-md: 1100px;
$screen-sm: 800px;