/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');
@import 'assets/scss/vars';
@import 'assets/scss/mixins';

@include main;

html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}